<body class="chooseGame">
	<header>
		<div class="game-status">
			<span>Black Jack Tables</span>
		</div>
	</header>
	<main>
		<button id="newTable">New Table</button>
		<section class="game-tables">
		<%-gameTables%>
		</section>
	</main>
</body>