<body class="profile">
	<section class="main-profile">
		<div class="profile-user-avatar">
			<img src="static/img/avatars/Login.jpg">
		</div>
		<div class="profile-user-statistic">
			<dir class="profile-user-statistic-login">Login: <span>Login</span></dir>
			<dir class="profile-user-statistic-bank">Bank: <span>1000</span></dir>
		</div>
		<div class="profile-user-container">
			<div class="profile-user-container-stat">
				<dir class="profile-user-container-statistic-regdate">Registered: <span>12.12.2016</span></dir>
				<dir class="profile-user-container-statistic-regdate">Games played: <span>10</span></dir>
				<dir class="profile-user-container-statistic-regdate">Rounds win: <span>5</span></dir>
				<dir class="profile-user-container-statistic-regdate">Rounds loose: <span>5</span></dir>
				<dir class="profile-user-container-statistic-regdate">% win: <span>50</span>%</dir>
				<dir class="profile-user-container-statistic-regdate">Max win: <span>20</span></dir>
				<dir class="profile-user-container-statistic-regdate">Max lost: <span>10</span></dir>
			</div>
			<div class="profile-user-container-pass-ch">
				
			</div>
			<div class="profile-user-container-secret-ch">
				
			</div>
			<div class="profile-user-container-email-ch">
				
			</div>
			<div class="profile-user-container-remove">
				
			</div>
		</div>
	</section>
</body>