<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="static/css/blackjackhouse.css">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
	<script src="socket.io/socket.io.js"></script>
	<script type="text/javascript" src="static/js/blackjackhouse.js"></script>
</head>
<%-header%>
<%-content%>
<%-footer%>
</html>